@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$width-small: 600px;
$width-medium: 1000px;
$width-large: 1600px;

$font-header: 'Lato', sans-serif;
$font-text:   'Lato', sans-serif;

$color-green: rgb(35, 140, 44);
$slogan-color: rgb(243, 7, 255);
$color-yellow: #fad000;
$bg-header:rgb(43, 16, 62);
$bg-body:#fff;
$shadow:rgb(103, 103, 103);

