.home-contaier{
    display: flex;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(248, 248, 248, 0.3),rgba(206, 214, 209, 0.4)) ,url('../../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    
   
    
}