.navbar-nav a span{
    font-size: 20px;
    color: grey;
    span{
        color: gray;
    }
    
}

.list-search{
    
    z-index: 1;
    position: absolute;
  
}
 
.search{
    position: relative;
    z-index: 1;
}
a{
    font-size: 18px;
    color: gray;
    z-index: 2;
}


@media only screen and (min-width: 641px) and (max-width: 1024px) {
    
}